body {
    background-color: rgb(228, 255, 208);
}

.col {
    display: inline-block;
}

.main-block {
    opacity: 0;
    transition: all 1s ease;
    text-align: center;
    margin: 3%;
    padding: 3%;
}

.main-block.show {
    opacity: 1;
}

/* front --------------------*/
#front {
    display: flex;
	align-items: center;
	justify-content: center;
    height: 40em;
}

#my-name {
    font-family: "Copperplate";
    font-size: 8em;
}

/* about --------------------*/
#about .col {
    vertical-align: middle;
}

#about img {
    width: 250px;
    padding: 3em;
}

#about-text {
    text-align: left;
}

/* skill --------------------*/
#skill table {
    display: inline-block;
    border-collapse: separate;
    border-spacing: 1em 2em;
}

/* works --------------------*/
#works {
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    margin: 3% 0;
}

.work {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    width: 500px;
}

.work-title {
    font-size: 1.5em;
    height: 3em;
    white-space: normal;
    vertical-align: middle;
}

.work-text {
    white-space: normal;
    text-align: left;
    margin: 3em 0;
    height: 5em;
}

.work-img {
    width: 480px;
    height: 270px;
}

.work-links {
    white-space: normal;
    text-align: left;
}

.work-links a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* responsive --------------------*/
@media all and (max-width: 768px) {
    #my-name {
        font-size: 90px;
    }

    .work {
        width: 384px;
    }

    .work-img {
        width: 352px;
        height: 198px;
    }

    .work-title {
        height: 4.5em;
    }

    .work-text {
        height: 7em;
    }
}

/* footer --------------------*/
footer {
    text-align: center;
    padding-top: 2%;
    border-top: 1px solid black;
}

footer #links .link {
    display: inline-block;
    margin: 0 5%;
}

#links img {
    width: 30px;
}